/* цвет основного текста #212121; */
/* цвет второичного текста #757575; */
/* logo color Акцент #2196F3; */
/* background color #E5E5E5; */
/* background color team #F5F4FA; */
/* background header & button color #FFFFFF; */
/* background footer #2F303A;*/
:root
{
    --primary-text-color:#212121;
    --secondary-text-color:#757575; 
    --accent-color:#2196F3;
    --primary-background-color:#E5E5E5;;
    --secondary-background-color:#F5F4FA;
    --header-background-color:#FFFFFF;
    --footer-background-color:#2F303A;
    --footer-contact-color:#FFFFFF99;


}
body {
    background-color: var (var(--primary-background-color))
    color: var(var(--primary-text-color));
}
/* убираем точки в списке */
.list {list-style: none;}
/* убираем подчеркивание ссылок */

/* цвет логотипа */
.logo
{color: var(--accent-color);}
.logo-studio
{color: var(--primary-text-color);}

/* главная навигация */
.site-nav .link
{color: var(--primary-text-color);}

/* навигация контактов */
.contact-nav .link
{color: var(--secondary-text-color);}

/* активность ссылок навигации */
.site-nav .link:focus, 
.site-nav .link:hover{
    color: var(--accent-color);}
.contact-nav .link:focus,
.contact-nav .link:hover {
    color: var(--accent-color);}

    /* цвет  заголовка и текста секций */
.section .title
{color: var(--primary-text-color);}

.section .text
{color: var(--secondary-text-color);}

/* Имена команды */
.section .name
{color: var(--primary-text-color);
}
/* background team */
.team
{background-color: var(--secondary-background-color);}
/* Footer */
.footer
{background-color: var(--footer-background-color);}
.footer .adress
{color: var(--header-background-color)}
.footer .link
{color: var(--footer-contact-color)}
.footer .logo-studio
{color:var(--header-background-color);}

/* Button */
.button
{background-color: var(--accent-color);
color: var(--header-background-color);}