/* цвет основного текста #212121; */
/* цвет второичного текста #757575; */
/* logo color  #2196F3; */
/* Studio color #2196F3; */
/* Акцент #2196F3 */
/* background color #E5E5E5; */
/* background color team #F5F4FA; */
body {
    background-color: #E5E5E5;
    color: #212121;
}
/* убираем точки в списке */
.list {list-style: none;}

.nav-link:focus, .nav-link:hover {
    color: #2196F3;}
